.button-round {
    cursor: pointer;

    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-content: center;

    color: #34c759;

    border: 1px solid #34c759;
    border-radius: 50%;

    &__image {
        display: flex;
        align-items: center;
    }
}
