.button {
    cursor: pointer;

    height: 60px;
    width: 60px;

    display: flex;
    justify-content: center;
    align-content: center;

    border: 1px solid;

    border-radius: 50%;   
}

.image {
    display: flex;
    align-items: center;
}
