@import './../../../styles/color.scss';

.header {
    height: 94px;
    padding: 0 11.425% ;

    background-color: mix($dark-gray, #252525c0);

    display: flex;
    justify-content: space-between;
    align-items: center;
}