.home-body {
    width: 84vw;
    max-width: 1200px;
    
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 60px;

    > div {
        width: 100%;
    }

    &__header {
        // margin-top: 45px;
        // margin-bottom: 60px;
        // padding-bottom: 60px;
    }

    &__chunks {
        display: flex;
        justify-content: center;
    }

    &__hot-menu {
        display: flex;
        justify-content: center;
    }

    &__categories {
        display: inline-block;

        max-width: 853px;
    }

    &__calendar {
        // margin-top: 80px;
    }

    &__best-workers {
    }

    &__pizza-maker {
    }
}