.bar-card{
    &__dishes  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // justify-content: space-between;
        gap: 30px;
    }

    &__dish-card {
        // flex: 1 1 380px;
    }
}
