.home-body {
    &__header {
        margin-top: 45px;
        margin-bottom: 60px;
    }

    &__chunks {
        margin-bottom: 104px;
    }

    &__hot-menu {
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
    }

    &__categories {
        padding-bottom: 61px;
        display: inline-block;

        width: 100%;
        max-width: 853px;
    }
}