.home-body {
    &__header {
        margin-top: 45px;
        margin-bottom: 60px;
    }

    &__chunks {
        margin-bottom: 104px;
    }

    &__hot-menu {
        margin-bottom: 60px;
    }

    &__categories {
    }
}