.card-dish {
    max-width: 380px;
    min-width: 320px;

    padding-bottom: 20px;
    
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;

    &__image {
        width: 100%;
        height: auto;
    }

    &-body {
        padding: 20px;
    }

    &__label {
        padding-top: 5px;

        font-family: "Alegreya";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;

        color: #ffffff;
    }

    &__description {    
        padding-top: 20px;

        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;

        color: #b3b3b3;
    }

    &-buy {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}
