@import './../../../styles/color.scss';

.first-screen {
   height: 1335px;

   background: linear-gradient(355.26deg, rgba(19, 16, 15, 0.74) 43.78%, rgba(31, 26, 25, 0) 95.28%);

   display: flex;
   flex-direction: column;
   align-items: center;

   &-header {
      margin-top: 45px;
      width: 82.725%;
   }

   &-chunks {
      margin-top: 60px;
   }
}